@model Seeco.Models.TblRequests

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

<h1>Details</h1>

<div>
    <h4>@ViewBag.pr</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Decisions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Decisions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultantTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultantTeam.ResponsibleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractorTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractorTeam.ResponsibleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubItem.SubItemName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" asp-route-pid="@ViewBag.pid">Back to List</a>
</div>
@section  Scripts{ }