@model IEnumerable<Seeco.Models.TblRequests>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

<h1>@ViewBag.pr</h1>

<p>
    <a asp-action="Create" asp-route-pid="@ViewBag.pid">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Decisions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsultantTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Decisions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultantTeam.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorTeam.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubItem.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section  Scripts{ }