@model Seeco.Models.TblConsultants

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblConsultants</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faxes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faxes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ceo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ceo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cofounder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cofounder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
